.nav {
    color: #fff;
}

.nav-container {
    display: grid;
    grid-template-rows: auto auto auto;
}

.top-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .8rem .9rem;
}

.top-nav-search-box {
    display: none;
}

.top-nav-links-box {
    display: none;
}

.middle-nav-desktop {
    display: none;
}

.middle-nav-mobile {
    background-color: #EBEEF2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 3.5rem;
    border-top: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
}

.middle-nav-boxes {
    display: flex;
    flex-basis: 0;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: .9rem 0 0.7rem;
    border-right: 1px solid #dcdcdc;
}

.middle-nav-boxes:last-child {
    border-right: none;
}

.middle-nav-boxes h3 {
    color: #333;
    font-size: .9rem;
    font-weight: 400;
}

.middle-nav-icon {
    color: #1876D1;
    font-size: 1.375rem;
    align-self: center;
    padding-bottom: 5px;
}

.bottom-nav {
    padding: 0.5rem 0.938rem;
    text-align: center;
    border-bottom: 1px solid #dcdcdc;
    border-top: 1px solid #dcdcdc;
}

.shipping-icon {
    padding-right: .85rem;
    color: #1876D1;
}

.bottom-nav span {
    font-size: 0.875rem;
    color: #333;
    padding-bottom: 2px;
}

.menu-dropdown-wrapper {
    display: none;
}

.menu-dropdown-show {
    display: block;
}

.menu-box-active {
    background-color: #1876D1;
}

.middle-nav-active {
    color: #fff;
}

.menu-box-active h3 {
    color: #fff;
}

.menu-dropdown-container {
    padding: 1rem 0 0 0;
}

.menu-dropdown-title {
    color: #0f4c8d;
    font-weight: bold;
    font-size: 15px;
    padding-bottom: .5rem;
    padding-right: 1rem;
    padding-left: 1rem;
}

.menu-dropdown-links {
    display: block;
    color: #1876D1;
    text-decoration: none;
    padding: .9rem 0;
    font-size: 15px;
    padding-right: 1rem;
    padding-left: 1rem;
}

.menu-dropdown-container li:nth-child(7) {
    border-bottom: 1px solid #dcdcdc;
    padding-bottom: .4rem;
}

.menu-dropdown-container li:nth-child(8) {
    padding-top: .4rem;
}

.account-dropdown-container {
    padding: 1rem 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-btn {
    padding: 1rem;
    padding-top: 0;
    border-bottom: 1px solid #dcdcdc;
}

.login-btn-box {
    width: 100%;
    background-color: #FF9B00;
    font-weight: bold;
    border-radius: 4px;
    text-align: center;
    align-self: center;
}

.login-btn-box a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 15px;
    min-height: 3rem;
    max-width: 160px;
    font-size: 18px;
}

.account-dropdown-links {
    display: block;
    color: #1876D1;
    text-decoration: none;
    padding: .9rem 0;
    font-size: 15px;
    padding-right: 1rem;
    padding-left: 1rem;
    border-bottom: 1px solid #dcdcdc;
}

.account-dropdown-wrapper {
    display: none;
}

.account-dropdown-show {
    display: block;
}

.account-box-active {
    background-color: #1876D1;
}

.middle-nav-active {
    color: #fff;
}

.account-box-active h3 {
    color: #fff;
}

.search-wrapper {
    height: 4.5rem;
    position: fixed; 
    display: none; 
    width: 100%; 
    top: 4.5rem;
    left: 0;
    background-color: #f7f7f7; 
    z-index: 2; 
    cursor: pointer; 
    padding: 0 1rem;
    border-bottom: 1px solid #dcdcdc;
}

.search-overlay-show {
    display: block;
}

.search-container {
    min-height: 4.5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #1876D1;
    width: 100%;
}

.search-icon {
    position: absolute;
    left: 2rem;
    vertical-align: middle;
}

.search-container input {
    width: 100%;
    margin-right: .5rem;
    height: 2.5rem;
    outline: none;
    border: 1px solid #1876D1;
    border-radius: 4px;
    padding: 0.063rem 3rem;
}

@media screen and (min-width: 767px) {

    .top-nav {
        padding-left: 24px;
        padding-right: 24px;
        min-height: 88px;
        display: flex;
        flex-grow: 5;
        justify-content: space-between;
        align-items: center;
        color: #333;
    }

    .top-nav-links-box-upper a:nth-child(2) {
        display: none;
    }

    .services-angle-down {
        display: none;
    }

    .top-nav-links-box-lower a:nth-child(2) {
        display: none;
    }

    .top-nav-links-box-lower a:nth-child(3) {
        display: none;
    }

    .brand-logo {
        padding-right: 1.5rem;
        width: 160px;
        height: 48px;
    }

    .top-nav-search-box {
        display: flex;
        flex-grow: 0;
        flex-basis: 5;
        width: 150%;
        margin: .5rem;
        position: relative;
        height: 40px;
    }

    .top-nav-search-icon-box {
        background-color: #247ECA;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        margin: auto 0;
        vertical-align: middle;
        color: #fff;
        height: 100%;
        width: 40px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .top-nav-search-icon {
        display: block;
        position: absolute;
        left: 30%;
        top: 30%;
    }

    .top-nav-search-box-input {
        width: 100%;
        height: 40px;
        padding: 1px 46px 1px 16px;
        border-radius: 10px;
        border: 1px solid #1876D1;
        outline: none;
    }

    .top-nav-search-box-input::placeholder {
        font-size: 14px;
        opacity: .7;
    }
    
    .top-nav-links-box {
        display: block;
        width: 100%;
    }

    .top-nav-links-box-upper {
        font-size: 15px;
        font-weight: 400;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 30px;
        padding-bottom: 1rem;
        margin-top: -0.8rem;
        position: relative;
    }

    .call-icon::before {
        content: "";
        display: inline-block;
        width: 15px;
        height: 15px;
        background: url(https://s1-ecp.printrunner.com/1499/phone.svg) no-repeat center center/contain;
        vertical-align: middle;
        margin-right: 8px;
    }

    .top-nav-links-box-lower {
        font-size: 15px;
        font-weight: 400;
        display: flex;
        justify-content: flex-end;
        gap: 20px;
    }

    .top-nav-accounts-icon::before {
        content: "";
        display: inline-block;
        width: 28px;
        height: 28px;
        background: url(https://s1-ecp.printrunner.com/1496/user.svg) no-repeat center center/contain;
        vertical-align: middle;
        margin-right: 12px;
    }

    .top-nav-cart-icon::before {
        content: "";
        display: inline-block;
        width: 28px;
        height: 28px;
        vertical-align: middle;
        background: url(https://s1-ecp.printrunner.com/1495/cart.svg) no-repeat center center/contain;
        margin-right: 12px;
    }

    .top-nav-links-box-upper a, .top-nav-links-box-lower a {
        text-decoration: none;
        color: #333;
        font-size: 14px;
    }

    .middle-nav-mobile {
        display: none;
    }

    .middle-nav-desktop {
        display: flex;
        background-color: #0F4C8D;
    }

    .nav-desktop-wrapper {
        padding: 0 24px;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .nav-desktop-list {
        list-style: none;
        font-size: 12px;
        font-weight: 600;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .nav-desktop-list-link {
        color: #fff;
    }

    .nav-desktop-list-link a {
        display: inline-block;
        padding: 16px 4px;
    }
 
}

@media screen and (min-width: 1020px) {

    .top-nav-links-box-upper a:nth-child(2) {
        display: block;
    }

    .top-nav-links-box-lower a:nth-child(2) {
        display: block;
    }

    .top-nav-links-box-lower a:nth-child(3) {
        display: block;
    }

    .top-nav {
        padding-left: 24px;
        padding-right: 24px;
        min-height: 88px;
        display: flex;
        flex-grow: 5;
        justify-content: space-between;
        align-items: center;
        color: #333;
    }

    .brand-logo {
        padding-right: 1.5rem;
        width: 160px;
        height: 48px;
    }

    .top-nav-search-box {
        display: flex;
        flex-grow: 0;
        flex-basis: 5;
        width: 100%;
        margin: .5rem;
        position: relative;
        height: 40px;
    }

    .top-nav-search-icon-box {
        background-color: #247ECA;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        margin: auto 0;
        vertical-align: middle;
        color: #fff;
        height: 100%;
        width: 40px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .top-nav-search-icon {
        align-self: center;
    }

    .top-nav-search-box-input {
        width: 100%;
        height: 40px;
        padding: 1px 46px 1px 16px;
        border-radius: 10px;
        border: 1px solid #1876D1;
        outline: none;
    }

    .top-nav-search-box-input::placeholder {
        font-size: 14px;
        opacity: .7;
    }
    
    .top-nav-links-box {
        display: block;
        width: 100%;
    }

    .top-nav-links-box-upper {
        font-size: 15px;
        font-weight: 400;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 30px;
        padding-bottom: 1rem;
        margin-top: -0.8rem;
        position: relative;
    }

    .services-angle-down {
        display: inline-block;
        position: absolute;
        right: 14rem;
        font-weight: 400;
        margin: auto 0;
        vertical-align: middle;
        color: #333;
    }

    .call-icon::before {
        content: "";
        display: inline-block;
        width: 15px;
        height: 15px;
        background: url(https://s1-ecp.printrunner.com/1499/phone.svg) no-repeat center center/contain;
        vertical-align: middle;
        margin-right: 8px;
    }

    .top-nav-links-box-upper a:nth-child(3) {
        display: block;
        padding-left: 1.5rem;
    }

    .top-nav-links-box-lower {
        font-size: 15px;
        font-weight: 400;
        display: flex;
        justify-content: flex-end;
        gap: 20px;
    }

    .top-nav-accounts-icon::before {
        content: "";
        display: inline-block;
        width: 28px;
        height: 28px;
        background: url(https://s1-ecp.printrunner.com/1496/user.svg) no-repeat center center/contain;
        vertical-align: middle;
        margin-right: 12px;
    }

    .top-nav-cart-icon::before {
        content: "";
        display: inline-block;
        width: 28px;
        height: 28px;
        vertical-align: middle;
        background: url(https://s1-ecp.printrunner.com/1495/cart.svg) no-repeat center center/contain;
        margin-right: 12px;
    }

    .top-nav-links-box-upper a, .top-nav-links-box-lower a {
        text-decoration: none;
        color: #333;
    }
 
}

@media screen and (min-width: 1280px) {

    .nav-desktop-wrapper {
        max-width: 1280px;
        margin: 0 auto;
    }

    .top-nav {
        margin-left: 80px;
        margin-right: 80px;
    }

    .top-nav-search-box {
        width: 105%;
    }

    .top-nav-search-box-input::placeholder {
        font-size: 16px;
    }

    .top-nav-links-box-upper {
        gap: 40px;
    }

    .services-angle-down {
        right: 15.7rem;
    }

    .top-nav-links-box-upper a:nth-child(3) {
        padding-left: 1.5rem;
    }

    .top-nav-links-box-lower {
        gap: 30px;
    }
 
}