.nav {
    color: #fff;
}

.nav-container {
    display: grid;
    grid-template-rows: auto auto auto;
}

.top-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .8rem .9rem .4rem .9rem;
}

.top-nav-search-box {
    display: none;
}

.top-nav-links-box {
    display: none;
}

.middle-nav {
    background-color: #EBEEF2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 3.5rem;
    border-top: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
}

.middle-nav-boxes {
    display: flex;
    flex-basis: 0;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: .9rem 0 0.7rem;
    border-right: 1px solid #dcdcdc;
}

.middle-nav-boxes:last-child {
    border-right: none;
}

.middle-nav-boxes h3 {
    color: #333;
    font-size: .9rem;
    font-weight: 400;
}

.middle-nav-icon {
    color: #1876D1;
    font-size: 1.375rem;
    align-self: center;
    padding-bottom: 5px;
}

.bottom-nav {
    padding: 0.5rem 0.938rem;
    text-align: center;
    border-bottom: 1px solid #dcdcdc;
    border-top: 1px solid #dcdcdc;
}

.shipping-icon {
    padding-right: .85rem;
    color: #1876D1;
}

.bottom-nav span {
    font-size: 0.875rem;
    color: #333;
    padding-bottom: 2px;
}

.menu-dropdown-wrapper {
    display: none;
}

.menu-dropdown-show {
    display: block;
}

.menu-box-active {
    background-color: #1876D1;
}

.middle-nav-active {
    color: #fff;
}

.menu-box-active h3 {
    color: #fff;
}

.menu-dropdown-container {
    padding: 1rem 0 0 0;
}

.menu-dropdown-title {
    color: #0f4c8d;
    font-weight: bold;
    font-size: 15px;
    padding-bottom: .5rem;
    padding-right: 1rem;
    padding-left: 1rem;
}

.menu-dropdown-links {
    display: block;
    color: #1876D1;
    text-decoration: none;
    padding: .9rem 0;
    font-size: 15px;
    padding-right: 1rem;
    padding-left: 1rem;
}

.menu-dropdown-container li:nth-child(7) {
    border-bottom: 1px solid #dcdcdc;
    padding-bottom: .4rem;
}

.menu-dropdown-container li:nth-child(8) {
    padding-top: .4rem;
}

.account-dropdown-container {
    padding: 1rem 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-btn {
    padding: 1rem;
    padding-top: 0;
    border-bottom: 1px solid #dcdcdc;
}

.login-btn-box {
    width: 100%;
    background-color: #FF9B00;
    font-weight: bold;
    border-radius: 4px;
    text-align: center;
    align-self: center;
}

.login-btn-box a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 15px;
    min-height: 3rem;
    max-width: 160px;
    font-size: 18px;
}

.account-dropdown-links {
    display: block;
    color: #1876D1;
    text-decoration: none;
    padding: .9rem 0;
    font-size: 15px;
    padding-right: 1rem;
    padding-left: 1rem;
    border-bottom: 1px solid #dcdcdc;
}

.account-dropdown-wrapper {
    display: none;
}

.account-dropdown-show {
    display: block;
}

.account-box-active {
    background-color: #1876D1;
}

.middle-nav-active {
    color: #fff;
}

.account-box-active h3 {
    color: #fff;
}

.search-wrapper {
    height: 4.5rem;
    position: fixed; 
    display: none; 
    width: 100%; 
    top: 4.5rem;
    left: 0;
    background-color: #f7f7f7; 
    z-index: 2; 
    cursor: pointer; 
    padding: 0 1rem;
    border-bottom: 1px solid #dcdcdc;
}

.search-overlay-show {
    display: block;
}

.search-container {
    min-height: 4.5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #1876D1;
    width: 100%;
}

.search-icon {
    position: absolute;
    left: 2rem;
    vertical-align: middle;
}

.search-container input {
    width: 100%;
    margin-right: .5rem;
    height: 2.5rem;
    outline: none;
    border: 1px solid #1876D1;
    border-radius: 4px;
    padding: 0.063rem 3rem;
}

@media screen and (min-width: 1020px) {
    .top-nav {
        display: flex;
        flex-grow: 5;
        justify-content: space-between;
        align-items: center;
        color: #333;
    }

    .brand-logo {
        padding-right: 2rem;
    }

    .top-nav-search-box {
        display: block;
        width: 100%;
        margin: .5rem;
        position: relative;
        height: 40px;
    }

    .top-nav-search-icon {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        margin: auto 0;
        vertical-align: middle;
        background-color: #1876D1;
        color: #fff;
        height: 100%;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .top-nav-search-box-input {
        width: 100%;
        height: 40px;
        border-radius: 10px;
        border: 1px solid #1876D1;
        outline: none;
    }
    
    .top-nav-links-box {
        display: block;
        width: 100%;
    }

    .top-nav-links-box-upper {
        font-size: 15px;
        font-weight: 400;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 30px;
        padding-bottom: 1rem;
        position: relative;
    }

    .services-angle-down {
        position: absolute;
        top: 0;
        right: 12.7rem;
        font-weight: 400;
        margin: auto 0;
        vertical-align: middle;
        color: #333;
    }

    .top-nav-links-box-upper a:nth-child(3) {
        padding-left: 1.5rem;
    }

    .top-nav-links-box-lower {
        font-size: 15px;
        font-weight: 400;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    .top-nav-links-box-upper a, .top-nav-links-box-lower a {
        text-decoration: none;
        color: #333;
    }

    
}